@use'../custom' as *;
@use'../components/mixins' as *;


.services{
    position: relative;
    padding: 1rem 0;
    color: $primary;

    &__content{
        padding: 1rem;
        margin-top: 0rem;

        @include media-breakpoint-up(lg){
            margin-top: 2.5rem;
        }


        .icon{
            font-size: 1.5rem;
            color: primary;

            @include media-breakpoint-up(lg){
              margin-top: 1rem;
          }
        }
    }

    &__pic{
      max-width: 100%;
      height: auto;
    }
}

.goal {
  position: relative;
  padding: 1rem 0;
  color: $primary;
  
  
    .video-box {
        position: relative;

        img{
          padding: 1rem;
          margin-top: 0rem;

          @include media-breakpoint-up(lg){
            margin-top: 5rem;
          }
          
        }
        a{
          // @include absoluteCenter;
          span{
            

            i{
              font-size: 5rem;
              color: #ff4400;
            }
          }

        }
    }
  
}

.bg-play{
  position: absolute;
  top: 0;
  left: 0;
  width: 4rem;
  height: 4rem;
  align-items: center;
  padding: 4rem;
  border: 0.55rem solid $white;

}


.border-animation{
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  width: 7rem;
  height: 7rem;
  border: 0.55rem solid $white;
  border-radius: 50%;
  animation: pulse-border 1.5s linear infinite;

  

  &--play-btn-bg{
    top: 0;
    left: 0;
    align-items: center;
    padding-top: 4rem;
    color: $white;
  }

  &--boder-1{
    animation-delay: 1s;
  }

  &--boder-2{
    animation-delay: 1.5s;
  }
}