@use'../custom' as *;

//DISPLAY 2

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;

    &--intro{
        display: inline-block;
        font-weight: 700;
        color: $primary;
        font-family: 'Poppins', sans-serif;
        font-size: 2rem;
        font-size-adjust: 500px;

        @include media-breakpoint-up(lg){
            font-size: 3rem;
            display: inline-block;
        }

    }

     // SERVICES - BODY
     &--description{
        font-size: 1rem;
        display: block;
        color: $primary;
        margin-top: 1.1rem;
        text-transform: none;
        font-weight: 400;

        @include media-breakpoint-up(lg){
            font-size: 1.25rem;
            display: inline-block;
        }
    }

    

    // THREE TOP BAR
    &--topbar{
        font-size: 1rem;
        display: block;
        
        @include media-breakpoint-up(md){
            font-size: 1.7rem;
        }
    }

}

// Heading Line
.heading-line::before{
    content: '';
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
   
    
}

.heading-line::after{
    content: '';
    width: 2rem;
    padding-top: 0.5rem;
    height: 0.2rem;
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    background-color: $primary;
    
}

//DISPLAY 3
.display-3{
    font-family: 'Poppins', sans-serif;
    color: $primary;

    // SERVICES - HEADING
    &--goal{
        display: inline-block;
        font-weight: 450;
        color: $primary;
        font-size: 1.25rem;
        font-size-adjust: 500px;
        background-image: linear-gradient(to right, $primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        padding-bottom: 0.5rem;

        @include media-breakpoint-up(md){
            font-size: 1.4rem;
            display: inline-block;
            font-weight: 600;
        }

        @include media-breakpoint-up(lg){
            font-size: 1.8rem;
            display: inline-block;
            font-weight: 600;
        }
    }


     // SERVICES - BODY
    &--description{
        font-size: 1rem;
        display: block;
        color: $primary;
        margin-top: 0rem;
        text-transform: none;
        font-weight: 350;

        @include media-breakpoint-up(md){
            font-size: 1.25rem;
            display: inline-block;
            margin-top: 0rem;
        }

        @include media-breakpoint-up(lg){
            font-size: 1.5rem;
            display: inline-block;
            margin-top: 0.5rem;
        }
    }
}

//BORDER RIGHT
.border-right{
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}

//Gradient background
.gradient{
    background: linear-gradient(to right, rgba($primary, 0.95), rgba($secondary, 0.95));
}
